.aboutme-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
}




.about {
    position: relative;
    margin-top: 250px;
    font-size: 36px;
    text-align: center;
    z-index: 3;
}

.about img {
    width: 40%;
    margin-top: 20px;
    height: 550px;
    border-radius: 15px;
}

.about p {
    font-size: 24px;
    margin: auto;
    width: 80%;
    line-height: 1.6;
}
