/* src/components/BackToTop.css */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.back-to-top i {
    font-size: 20px;
    color: white;
}

.back-to-top:hover {
    transform: translateY(-5px); /* Adds a subtle lift effect on hover */
}
