.contactme-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
}

.background-image {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../../public/assets/images/image.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
    margin: 0 auto;
    top: 130px;
    margin-bottom: 200px;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.8em;
    margin-bottom: 0; /* Adjusted spacing */
    text-align: left;
    width: 50%; /* Adjusted to 50% width */
}

.subtitle2 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-align: left;
    width: 50%; /* Adjusted to 50% width */
}

.contact-details {
    text-align: center;
    margin-bottom: 20px;
}

.contact-details p {
    margin: 10px 0;
}

.contact-details a {
    color: #4b50c4; /* Link color */
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #4b50c4;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0099cc;
}
