.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0; /* Reduced padding for mobile */
  background-color: transparent;
  color: white;
  margin-left: 10px; /* Adjusted margin for mobile */
  position: absolute;
  top: 0;
  width: 96%;
  z-index: 10;
}

.header-title {
  font-size: 35px; /* Reduced font size for mobile */
  margin-left: 10px; /* Adjusted margin for mobile */
}

.header-nav a {
  color: white;
  margin: 0 15px; /* Reduced margin for mobile */
  text-decoration: none;
  font-size: 18px; /* Reduced font size for mobile */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 30px 0; /* Further reduced padding for smaller screens */
  }

  .header-title {
    margin-left: 0;
    text-align: center;
    font-size: 28px; /* Further reduced font size */
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .header-nav a {
    margin: 5px 0; /* Stacked links for mobile */
    font-size: 16px; /* Smaller font for mobile */
  }
}
