.header {
  display: flex;
  justify-content: space-between;
  padding: 100px  0;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  position: absolute;
  top: 0;
  width: 98%;
  z-index: 10;
}

.header-title {
  font-size: 45px;
  margin-left: 20px;
}

.header-title-bold {
  font-weight: bold;
}

.header-title-normal {
  font-weight: normal;
}

.header-nav a {
  color: white;
  margin: 0 25px;
  text-decoration: none;
  font-size: 20px;
}
